.secitem {
    width: calc((100% - 100px) / 3);
    min-width: 350px;
}

.secitem-container {
}

.secitem-container img {
    width: 128px;
}

.secitem-header {
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 28.13px;
    font-size: 24px;
}

.secitem-body {
    margin-top: 18px;
}

.secitem-body img {
    float: left;
    shape-outside: polygon(10px, 10px, 10px, 10px);
    margin-right: 10px;
}

@media (max-width: 1025px) {
    .secitem {
        width: 50%;
    }
  }

@media (max-width: 1025px) {
    .secitem {
        width: 100%;
    }
}